body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 10px;
}

th {
  background-color: #f7f7f7;
  color: black;
  cursor: pointer;
  font-size: 14px;
}

th:hover {
  background-color: rgb(203, 203, 203);
}

tr {
  font-size: 14px;
}

tr:not(:first-child) {
  border-top: 1px solid rgb(220, 220, 220);
  border-bottom: 1px solid rgb(220, 220, 220);
}

tr:hover {
  background-color: rgb(203, 203, 203);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0 20px;
}
.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
}
.pagination button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
.pagination button:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}
